<header data-bs-theme="dark">
  
<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Sobre nosotros</h4>
          <p class="text-body-secondary">Actualmente contamos con cocineros experimentados en todos los ámbitos que trabajan para ofrecer las mejores recetas nacionales e internacionales. También contamos con un excelente equipo humano y profesional de redactores, editores y productores audiovisuales preparados para ofrecer las mejores elaboraciones gastronómicas con el objetivo de convertirnos en una plataforma de referencia y cumplir con las expectativas de cada uno de nuestros lectores
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg width="20" height="20" xmlns="https://pics.clipartpng.com/Chef_Hat_PNG_Clipart_Image-134.png"></svg>
        <strong>Recetas.com</strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

  </div>
</header>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"routerLink="shared/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="shared/platos">Platos</a>
    </li>
  </ul>
